.captureImage{
    border-radius: 20px;
    z-index: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
} 
.captureImage__button{
 
    margin-top: -50px;
    z-index: 2;
}
.captureImage__button>.MuiSvgIcon-root{
    color:#960200;
    border:none;
    outline: none;
    font-size:40px;

}
.captureImage__button:hover{
    cursor: pointer;
    opacity:0.8;
}